@page "/" 
@using WhoisObserver

<PageTitle>WHOIS Demo</PageTitle>

<h1>WHOIS demo Blazor Server v0.1</h1>

There will probably be bugs.

<div class="general-window col">
    <p>
        Here is info from API.
    </p>
</div>


@code{
    //WhoisObserver test1 = new WhoisObserver()
}

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
