@page "/" 
@using WhoisObserver
<link href="/css/pages/IndexStyle.css" rel="stylesheet" type="text/css">

<PageTitle>WHOIS Demo</PageTitle>

<h1>WHOIS demo Blazor Server v0.1</h1>

<div class="discription-txt col-12"><p>There will probably be bugs.</p></div>

<div class="general-window container">
    <div class="versoin-info col-12">
        <p>
          Here is info from API.
        </p>
    </div>
    
    <form class="row g-3">

        <div class="col-auto">
            <select class="form-select" aria-label="Default select example" @onchange="OnSelectItem">
             
                @foreach (var template in templates)
                {
                    <option value=@template>@template</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control"
                   placeholder="hostname/ip-address" aria-label="hostname/ip-address" @bind-value="@valueInput">
        </div>
        <div class="col-auto">
            <button type="button" class=" btn btn-outline-primary" onclick="@RequestForWhoisClientApi">Search</button>
        </div>
    </form>
    <div class="col-12 split-div"/>
    <div class="col">
        <p><b>RESULT :</b> @resultJson</p>
    </div>
</div>


@code{
    string resultJson = string.Empty;
    string valueInput = string.Empty;
    string SelectedStringApiServer = string.Empty;

    List<string> templates = new List<string>() { "ip-api", "Ru-Center", "Whois.ru" };

    private async void RequestForWhoisClientApi()
    {
        WhoisClient testClient = new();
        string result = await testClient.GetResponceOriginalJsonAsync(valueInput, WhoisObserver.Services.Model.ServersClientFamily.IpApi);

        resultJson = result;
    }

    private void OnSelectItem(ChangeEventArgs e)
    {
        SelectedStringApiServer = e.Value!.ToString()!;
    }
}

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
