@page "/test1"

<div class="container-fluid">
    <div class="col">
        <p> Сколько раз Андрею рважи жопу: @demo</p>
    </div>
    <div class="col">
        <p>Узбекам по имени Андрей тут вход нельзя. Понял да?</p>
    </div>
    <div class="col">
        <dl>
            <dt>
                Кто такой Андрей:
            </dt>
            @foreach(string item in tmplist){
                <dd>
                    @item
                </dd>
            }
        </dl>
       


    </div>
</div>

@code {
    int demo = 666666;
    List<string> tmplist = new List<string>() { "Пидарас", "Лох", "Черт", "Ебаный черт" };
}
