@page "/test1"

<div class="container-fluid">
    <div class="col-10">
        <p> Test text col 10: @demo</p>
    </div>
    <div class="col-1">
        <p>Test col1</p>
    </div>
</div>

@code {
    int demo = 10;
}
